body {
  padding: 0;
  margin: 0;''
}

header {
  color: rgb(103, 182, 103); ""
}

header nav {
  color: rgb(114, 114, 231) !important;;
  z-index: higher;
}

#landing {
  background-color: rgb(42, 54, 54);
}
